<?xml version="1.0"?>
<!--xml file for species based information-->
<settings>
    <species id="0" name="zebra">
        <number>100</number>
        <byte>1</byte>
        <cohesion>1.1f</cohesion>
        <separation>0.8f</separation>
        <alignment>0.5f</alignment>
        <wander>0.2f</wander>
    </species>
    <species id="1" name="bison">
        <number>100</number>
        <byte>2</byte>
        <cohesion>0.8f</cohesion>
        <separation>1.3f</separation>
        <alignment>0.8f</alignment>
        <wander>0.1f</wander>
    </species>
</settings>


